#MAC OS X
*.DS_Store
*.build
*.xcuserstate
*.mode2v3
*.xcworkspace
buid/Java/lib/JNILibfreenect2.build
.*dSYM


#Eclipse
*.metadata
build/.metadata

#processing





*.xcuserstate

build/openKinectv2/bin/java.policy.applet

*.lock
*.build

*.fdt

*.fnm

*.frq

build/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments_2

*.gen

*.tis

*.tii

*.tis

*.prx

*.tii

build/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments_1

build/openKinectv2/src/examples/data/.gitkeep

*.fdt

*.lock

*.lock

*.xccheckout

*.xcbkptlist
