#MAC OS X

*.DS_Store

*.build

*.mode2v3

build_openKinect2/Java/lib/JNILibfreenect2.build

*.dSYM

*.dylib.dSYM


#Eclipse

*.metadata

*.recommenders

build_openKinect2/.metadata

build_openKinect2/.recommenders

build_openKinect2/openKinectv2/.settings

build_openKinect2/openKinectv2/bin/java.policy.applet

#processing

*.lock

*.build

*.fdt

*.fnm

*.frq

*.gen

*.tis

*.tii

*.tis

*.prx

*.tii

*.fdt

*.lock

*.lock


build_openKinect2/openKinectv2/lib/libJNILibfreenect2.dylib.dSYM

*.log
/OpenKinect-Processing/nbproject/private/
/OpenKinect-Processing/build/
/OpenKinect-Processing/dist/
*.tlog
*.obj
*.pdb
*.ipch
*.opensdf
*.sdf
*.ilk
*.pch
*.idb
*.suo
