#MAC OS X

*.DS_Store

*.build

*.mode2v3

buid/Java/lib/JNILibfreenect2.build

.*dSYM


#Eclipse

*.metadata

build/.metadata

build/.recommenders

build/openKinectv2/bin/java.policy.applet

#processing

*.lock

*.build

*.fdt

*.fnm

*.frq

*.gen

*.tis

*.tii

*.tis

*.prx

*.tii

*.fdt

*.lock

*.lock

